<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
    <link rel="stylesheet" href="/css/events-saved.css" />

    <!-- google Icon Link -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back_ios_new"
    />
  </head>
  <body>
    <!-- Sidebar -->
    <%- include("partials/sidebar") %>

    <!-- Show All Saved Events -->
    <div class="saved-events">
      <h1 class="title">Saved Events</h1>

      
    </div>

  </body>
</html>
